body {
    background-color: rgb(2, 2, 63);   
    background-image: linear-gradient(to bottom, rgb(2, 2, 63), rgb(37, 37, 83));
    background-repeat: no-repeat;
    background-size: cover;
}

.headline {
    margin-top: 50px;
    color: white;
    text-align: center;
}
/*todos*/
.options {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}

/*cada um*/
.option {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    button {
        cursor: pointer;
    }

    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.option:hover {
    opacity: 1;
}

#tempoRestante {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
}

.mensagem {
    color: rgba(255, 255, 255, 0.658);
    text-align: center;
    margin-top: -70px;
    font-size: 14px;
}

.button {
    background-color: rgb(2, 2, 63);
    color: rgb(177, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);

  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

.popup button {
  padding: 10px 25px;
  cursor: pointer;
}